div{
	padding: 20px 0 0 0;
	margin: 30px 0 0 0;
}

#s{
	width: 50%;
	height: 50px;
	font-size:20px;
}
input[type="submit"]{
	font-size: 20px;
	width: 15%;
	height: 50px;	
}



table{
	margin:auto;
	background-color: white;
	width: 1200px;
	display:none;

}

body{
	background-image: url(daejun1.gif);
	margin:auto;
	position: relative;
}
"WebContent/search.css"
th{
	text-align: center;
}

td{
	text-align: center;
}
.th1{
	width: 70px;
}

.th2{
	width: 230px;
}

.th3{
	width:450px;
}

.menuBar li {padding: 5 80; display:inline;}


.menuBar {
    font-size:25px; 
    font-weight:bold;
    padding:15px;
    border-top: 5px solid gray;   
    border-bottom:5px solid gray;
    background-color: white;

}

.menuBar input{
	text-decoration:none;  
	color: black;
	}

.menuBar a:hover{

	border-bottom:5px solid purple;
}

#d1 {width: 960px; margin: 0 auto;}
#d1 #input-form {text-align: center;}
#t1 {margin: 0 auto; text-align: center;}
#input-form {margin-top: 10px; margin-bottom: 10px;}

#t1 {border-collapse: collapse;}
#t1 > thead > tr { background-color: #333; color:#fff; }
#t1 > thead > tr > th { padding: 8px; width: 150px; }
#t1 > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; }

#d1 {width: 960px; margin: 0 auto;}
#d1 #input-form {text-align: center;}
#t2 {margin: 0 auto; text-align: center;}
#input-form {margin-top: 10px; margin-bottom: 10px;}

#t2 {border-collapse: collapse;}
#t2 > thead > tr { background-color: #333; color:#fff; }
#t2 > thead > tr > th { padding: 8px; width: 150px; }
#t2 > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; }

#d1 {width: 960px; margin: 0 auto;}
#d1 #input-form {text-align: center;}
#t3 {margin: 0 auto; text-align: center;}
#input-form {margin-top: 10px; margin-bottom: 10px;}

#t3 {border-collapse: collapse;}
#t3 > thead > tr { background-color: #333; color:#fff; }
#t3 > thead > tr > th { padding: 8px; width: 150px; }
#t3 > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; }


#t4 {margin: 0 auto; text-align: center;}


#t4 {border-collapse: collapse;}
#t4 > thead > tr { background-color: #333; color:#fff; }
#t4 > thead > tr > th { padding: 8px; width: 150px; }
#t4 > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; }


#t5 {margin: 0 auto; text-align: center;}


#t5 {border-collapse: collapse;}
#t5 > thead > tr { background-color: #333; color:#fff; }
#t5 > thead > tr > th { padding: 8px; width: 150px; }
#t5 > tbody > tr > td { border-bottom: 1px solid gray; padding:8px; }